# {{ ansible_managed }}
{% if java_provider == 'oracle' or java_provider == 'amazon-corretto' %}
/usr/java/default/jre/lib/amd64
/usr/java/default/jre/lib/amd64/server
{% else %}
{% if java_default_version is version('1.8.0', '>') %}
/usr/lib/jvm/jre/lib
/usr/lib/jvm/jre/lib/server
{% else %}
/usr/lib/jvm/jre/lib/amd64
/usr/lib/jvm/jre/lib/amd64/server
{% endif %}
{% endif %}
