# {{ ansible_managed }}
{% if java_provider == 'oracle' %}
export JAVA_HOME=/usr/java/default
{% else %}
{% if java_install_devel %}
export JAVA_HOME=/usr/lib/jvm/java
{% else %}
export JAVA_HOME=/usr/lib/jvm/jre
{% endif %}
{% endif %}
